<!--
 * @Description 
 * @Autor 朱俊
 * @Date 2020-08-02 10:20:50
 * @LastEditors 朱俊
 * @LastEditTime 2020-08-08 13:48:17
-->
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
        <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
        <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
        <script
          type="text/javascript"
          src="{% static 'bootstrap/js/bootstrap.js' %}"
        ></script>
        <link 
          rel="stylesheet"
          href="{% static 'bootstrap/css/bootstrap.css' %}"
        ></link>
        {% block  style %} {% endblock %}
  </head>
  <body>
    <div class="content">
      {% block content %} 这个是默认的内容的 {% endblock %}
    </div>
  </body>
</html>
{% block  script %} {% endblock %}