<!--
 * @Description 
 * @Autor 朱俊
 * @Date 2020-08-02 00:28:36
 * @LastEditors 朱俊
 * @LastEditTime 2020-08-03 07:33:47
-->

{% extends 'base.html' %}
<div>
  {% block content %}
  <div class="table-wrapper">
    <table class="table table-striped">
      <thead>
        <tr>
          {% for item in table_header %}
          <th>{{item.label}}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for item in list%}
        <tr>
          <!-- {% for inner in table_header %}
          <block
            >{% with inner.prop as prop %}
            <td>{{item}} {{prop}} {{item.grade}}</td>
            {% endwith %}
          </block>
          {% endfor %} -->
          <td>{{item.name}}</td>
          <td>{{item.type}}</td>
          <td class="text-overflow-hidden">{{item.short}}</td>
          <td>{{item.grade}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <nav aria-label="Page navigation">
      <ul class="pagination">
        <li>
          <a href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li>{{pages}}</li>
        {% for page in pages %}
        <li>
          <a href="http://127.0.0.1:8000/app/{{page}}/">{{page}}</a>
        </li>
        {% endfor %}
        <li>
          <a href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
  {% endblock%}
</div>
{% block style%}
<style>
  .table-wrapper {
    width: 1300px;
    margin: 50px auto;
  }
  .text-overflow-hidden {
    width: 500px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
  .table > thead > tr > th,
  .table > tbody > tr > th,
  .table > tfoot > tr > th,
  .table > thead > tr > td,
  .table > tbody > tr > td,
  .table > tfoot > tr > td {
    line-height: 2.34;
  }
</style>
{% endblock%} {% block script%}
<script>
  // document.getElementsByClassName('')
</script>
{% endblock %}
