<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <link
      rel="stylesheet"
      href="https://unpkg.com/element-ui/lib/theme-chalk/index.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/echarts@4.9.0/dist/echarts.js"></script>
    <title>舆情分析平台</title>
  </head>
  <body>
    <div id="app" style="margin: 20px 20px">
      <div class="search-wrapper">
        <el-input
          v-model="key"
          placeholder="请输入关键字"
          @change="search"
          clearable
        ></el-input>
      </div>
      <div class="table baseTable">
        <el-table :data="list" border style="width: 100%">
          <el-table-column prop="name" label="产品名称" width="500">
          </el-table-column>
          <el-table-column prop="url" label="详情页" width="180">
          </el-table-column>
          <el-table-column label="操作" align="center">
            <template slot-scope="scope">
              <el-button
                @click="viewComments(scope.row)"
                type="text"
                size="small"
                >查看评论</el-button
              >
            </template>
          </el-table-column>
        </el-table>
      </div>
    </div>
    <script>
      var list = {{ list|safe }}
      var app = new Vue({
        el: "#app",
        data: {
          baseUrl: 'http://127.0.0.1:8000/',
          list:list,
          key:null
        },
        mounted() {
        },
        methods: {
          viewComments(row){
             window.location.href = this.baseUrl+'comments?good_id='+row.good_id
          },
          search(){
            if(this.key && this.key.trim()){
              this.list = list.filter(item=>item.name.indexOf(this.key)!='-1')
            }else{
              this.list = list
            }
          }
        }
      });
    </script>
  </body>
</html>
<style>
  .search-wrapper {
    width: 1000px;
    margin: 50px auto;
  }
  .el-input {
    width: 300px;
  }
  .table {
    width: 1000px;
    margin: 50px auto;
  }
</style>
